body {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;

  min-height: 100vh;
}

#header {
  background-color: black;
  color: white;
  padding: 0.25rem;
}
#header h1 {
  margin-left: 1rem;
  color: white;
}
#header h1 img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 8px 2px inset white;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0 8px 6px -3px rgb(167, 167, 167);
  padding: 1rem;
}

.linker {
  text-decoration: none;
  transition: transform 0.3s;
  border-radius: 4px;
  padding: 0.5rem;
  color: #a11212;
}

.linker:hover {
  transform: scale(1.25);
  color:black;
  background-color: #a11212;
}
/* -----header and nav ends ---- */

h2 {
  margin-left: 5%;
}
h2 img {
  vertical-align: middle;
  margin-right: 1rem;
}

#studentDiv,
#mentorDiv {
  display: flex;
  width: 95%;

  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;
  box-sizing: border-box;
}
#studentDiv #studentList,
#mentorDiv #mentortList {
  width: 65%;
}
.loadingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  z-index: 25;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
/* -----cards design starts --------- */
.card {
  display: flex;
  justify-content: space-between;

  background-color: white;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  background-color: rgb(247, 247, 247);
  margin-bottom: 0.3rem;
  box-shadow: 0 4px 2px 0px rgb(192, 192, 192);
}

.card:hover,
.card:hover .card2 span,
.card:hover .card3 span {
  background-color: rgb(250, 175, 175);
  transition: 0.3s;
  color: rgb(59, 51, 51);
}

.card div {
  width: 40%;

  box-sizing: border-box;
}

.card .card1 {
  width: 20%;
}

.card .card1 img {
  margin: 0.5rem;
  vertical-align: middle;
}
.card .card1 span {
  font-weight: bolder;
  font-size: 1.2rem;
}
.card .card2,
.card .card3 {
  font-weight: bold;
  font-size: 0.8rem;
  color: grey;
}
.card .card2 span,
.card .card3 span {
  font-size: 1rem;
  color: black;
}
h1 {
  color: gray;
}

/* --------- cards design ends --------- */

#studentDiv #studentCreate,
#mentorDiv #mentortCreate {
  width: 30%;
  border-radius: 0.5rem;
  padding-left: 0.25rem;
  box-sizing: border-box;
  background-color: rgba(253, 215, 215, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#studentDiv #studentCreate input,
label,
#mentorDiv #mentortCreate input,
label {
  display: block;
  width: 80%;
  margin-bottom: 1rem;
  height: 1.5rem;
  border-radius: 5px;
  border: none;
}

#studentDiv #studentCreate input[type="submit"],
#mentorDiv #mentortCreate input[type="submit"] {
  background-color: black;
  font-weight: bold;
  padding: 0.5rem 0;
  height: 2.2rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: white;
}
.re {
  background-color:black;
  color: white;
  border: none;
  border-radius: 4px;
}
h1 {
  margin-left: 10%;
}

.edit-card {
  background-color: rgb(206, 205, 205);
  width: 300px;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
}
.edit-card h4 {
  color: rgb(99, 98, 98);
}
.edit-card h4 span {
  color: black;
}
.edit-card button {
  height: 2rem;
  font-weight: bold;
  background-color: #a11212;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.edit-card button:hover {
  box-shadow: 0 0 3px 3px rgb(82, 82, 82);
  transition: 0.3s;
}

#updateStudentList,
#updateMentorList {
  width: 90%;
  margin: 1rem auto;
}

#availableMentorsList,
#availableStudentsList {
  width: 82%;
  margin: 1rem auto;
  background-color: rgb(165, 40, 61);
  padding: 0.5rem;
}
#availableMentorsList h2,
#availableStudentsList h2 {
  color: white;
}
#availableMentorsList .card,
#availableStudentsList .card {
  box-shadow: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 button {
  margin-left: 1rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
h2 button:hover {
  box-shadow: 0 0 2px 2px black;
}

.edit-card li {
  list-style-type: none;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-weight: bold;
  margin-bottom: 2px;
}
.edit-card li button {
  background-color: black;
  height: 1rem;
}

/* --------- media query starts ------- */

@media screen and (max-width: 425px) {
  #linker {
    margin: 1rem;
    display: block;
  }

  #studentDiv,
  #mentorDiv {
    flex-direction: column-reverse;
    width: 100%;
  }
  #studentDiv #studentList,
  #studentDiv #studentCreate,
  #mentorDiv #mentortList,
  #mentorDiv #mentortCreate {
    width: 100%;
    margin: 1rem auto;
  }
  .edit-card {
    padding: 0.5rem;
    width: 90%;
  }
  #updateStudentList,
  #updateMentorList {
    width: 98%;
    margin: auto;
  }
  h1 {
    margin-left: 5%;
  }
}
